<form method="post" action="/Home/Download">
    <div>
        <label for="fileName">fileName:</label>
        <input type="text" name="fileName" id="fileName" >
    </div>
    <div>
        <label for="text">text:</label>
        <input type="text" name="text" id="text" >
    </div>
    <input type="submit">

    
</form>
<form method="post" action="/Home/DownloadE">
    <div>
        <label for="fileName">fileName:</label>
        <input type="text" name="fileName" id="fileName">
    </div>
    <input type="submit">
</form>
