<form method="post" action="/friends/save">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" name="age" id="age">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <label for="telefono">Telefono:</label>
        <input type="text" name="telefono" id="telefono">
    </div>
    <input type="submit">
</form>